@media(max-width:768px){
    body{
        display: flex;
        flex-direction: column;
    }
    .trending{
        display: flex;
        flex-direction: column;
    }
    .popular {
        display: flex;
        flex-direction: column;
    }
}

@media(max-width:375px){
    .trending .title{
        font-size: 40px;
    }

    .popular img{
        width: 68%;
    }
}