:root{
    --light: hsl(36, 100%, 99%);
    --light-medium: hsl(233, 8%, 79%);
    --soft: hsl(35, 77%, 62%);
    --soft-medium: hsl(5, 85%, 63%);
    --dark: hsl(236, 13%, 42%);
    --very-dark: hsl(240, 100%, 5%);
}